@media screen and (min-width: 1200px) {
  .container,
  .feature-section > .container,
  .header > .container {
    max-width: 1158px;
  }
  .logo {
    margin-right: 76px;
  }
  .section-black {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office.jpg);
    padding: 187px 0px;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .section-black {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/people-office-x2.jpg);
    }
  }

  .hero-title {
    margin-bottom: 48px;
  }
  .feature-section {
    padding-top: 120px;
    padding-bottom: 60px;
  }
  .feature-list > .list {
    width: calc((100% - 3 * 24px) / 4);
  }
  .feature-item {
    margin-bottom: 0;
  }
  .feature-item > .subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
  .feature-item > .section-text {
    font-weight: 400;
  }
  .feature-item::before {
    content: "";
    display: block;
    width: 100%;
    height: 112px;
    background-color: var(--light-color);
    border-radius: 4px;
    margin-bottom: 8px;
    background-image: url("../images/antenna.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
  .feature-item.punct::before {
    background-image: url("../images/clock.svg");
  }
  .feature-item.dil::before {
    background-image: url("../images/diagram.svg");
  }
  .feature-item.tech::before {
    background-image: url("../images/astronaut.svg");
  }
  .product-section {
    display: block;
  }
  .team-section {
    padding: 120px 0 120px 0;
  }
  .team-item {
    width: calc((100% - 3 * 24px) / 4);
  }
  .customer-list {
    flex-wrap: nowrap;
  }
  .customer-section {
    padding: 120px 0;
  }
  .customer-item {
    width: calc(100% - 5 * 24px);
  }
  .footer-section {
    padding: 100px 0;
  }
  .footer-container {
    flex-wrap: nowrap;
    gap: 0;
  }
  .footer-wrap {
    margin-right: 80px;
  }
  .footer-wrap:first-child {
    margin-right: 120px;
  }
  .footer-wrap:last-child {
    margin-right: 0;
  }
  .footer-text {
    max-width: 264px;
  }
  .modal {
    margin-top: 0;
    height: 584px;
  }
}
